<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>成功案例</title>
</head>

<body>
  <div id="header"></div>
  <div id="container" class="container">
    <div class="container-header">
      <div class="dropdown d-inline">
        <div class="btn dropdown-toggle drop-btn" id="industryDropBtn" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          行业
        </div>
        <div class="dropdown-menu" aria-labelledby="industryDropBtn" id="industry-list">
          <!-- 模板插入区域 -->
        </div>
      </div>
      <div class="dropdown d-inline">
        <div class="btn dropdown-toggle drop-btn" id="industryDropBtn" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          合作资源
        </div>
        <div class="dropdown-menu" aria-labelledby="sourceDropBtn" id="source-list">
          <!-- 模板插入区域 -->
        </div>
      </div>
    </div>
    <div class="container-body dfx dfx-spb flex-wrap" id="demo-list">
      <!-- 模板插入区域 -->
    </div>
  </div>
</body>

</html>
