@import '../../assets/css/theme.scss';
.header {
  width: 100%;
  min-width: $ad-min-gride-width;
  height: 56px;
  padding: 0 24px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.14);
  &-logo {
    height: 32px;
  }
  &-tel {
    font-size: 24px;
    font-weight: bold;
  }
  .nav {
    height: 100%;
    .nav-item {
      height: 100%;
    }
    .nav-link {
      padding: 0;
      color: #212121;
      margin: 0 12px;
      height: 100%;
      @include box-center;
      &.active {
        font-weight: bold;
        color: #00A1D6;
        border-bottom: 2px solid #00A1D6;
      }
    }
  }
  &-btn {
    width: 100px;
    padding: 0;
    line-height: 36px;
    border-radius: 2px;
  }
}
