<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>page1</title>
</head>

<body>
  <p id="p">this is page1</p>
  <ul id="newsList"></ul>
  <a href="./index.html"> to index page</a>
  <script type="text/template" id="newsListTemplate">
    <!--each遍历json数组-->
    {{#each this}}
  <li class="flex">
    <div class="left">
      <span></span>
    </div>
    <div class="right">
      <h4>{{title}}</h4>
      <div class="flex">
        <span>{{tag}}</span>
        <span>{{date}}</span>
      </div>
    </div>
  </li>
  {{/each}}
  </script>
</body>

</html>
